[submodule "lib/lvgl"]
	path = lib/lvgl
	url = https://github.com/lvgl/lvgl
[submodule "User/Src/gui/font/mcu_font_tool"]
	path = User/Src/gui/font/mcu_font_tool
	url = https://github.com/KisonHe/mcu_font_tool
